.card {
  border: none;
  box-shadow: 0 0 10px rgba(46, 42, 42, 0.1);
  background-color: #f8f9fa; 
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  width: 30%;
}
